.subunit.AT {
    fill: #ddccdd;
}

.subunit.BE {
    fill: #b0c3dd;
}

.subunit.BG {
    fill: #bdd3dd;
}

.subunit.CY {
    fill: #afddc9;
}

.subunit.CZ {
    fill: #b0ddb9;
}

.subunit.DK {
    fill: #b3dd95;
}

.subunit.ES {
    fill: #cfdd89;
}

.subunit.FI {
    fill: #ddd079;
}

.subunit.FR {
    fill: #ddad7e;
}

.subunit.DE {
    fill: #dd8973;
}

.subunit.GR {
    fill: #dd6b68;
}

.subunit.HU {
    fill: #dd87a4;
}

.subunit.IE {
    fill: #dd65b1;
}

.subunit.IT {
    fill: #cf83dd;
}

.subunit.IS {
    fill: #8eb9dd;
}

.subunit.LV {
    fill: #dd65b1;
}

.subunit.LT {
    fill: #a8c5dd;
}

.subunit.LU {
    fill: #40d6dd;
}

.subunit.MT {
    fill: #6ddda1;
}

.subunit.NL {
    fill: #dd3f26;
}

.subunit.PL {
    fill: #a52edd;
}

.subunit.PT {
    fill: #4cddb5;
}

.subunit.RO {
    fill: #24dd8d;
}

.subunit.SK {
    fill: #60dd56;
}

.subunit.SI {
    fill: #d261dd;
}

.subunit.EE {
    fill: #dd3561;
}

.subunit.SE {
    fill: #1bdd7b;
}

.subunit.GB {
    fill: #1c3add;
}

.subunit.CH {
    fill: rgba(130, 221, 167, 0.52);
}

.subunit.HR {
    fill: rgba(130, 221, 167, 0.52);
}

.subunit.YF,
.subunit.BA,
.subunit.MK,
.subunit.ME,
.subunit.AL,
.subunit.KV,
.subunit.TR,
.subunit.RU,
.subunit.UA,
.subunit.DZ,
.subunit.FO,
.subunit.GE,
.subunit.GL,
.subunit.BY,
.subunit.MD,
.subunit.TN,
.subunit.SY,
.subunit.IQ,
.subunit.NO
{
    fill: rgba(143, 143, 143, 0.42);
}


.subunit-label {
    fill: #000000;
    fill-opacity: .9;
    font-size: 10px;
    font-weight: 300;
    text-anchor: middle;
}

.subunit-label.YF,
.subunit-label.BA,
.subunit-label.MK,
.subunit-label.ME,
.subunit-label.AL,
.subunit-label.KV,
.subunit-label.TR,
.subunit-label.RU,
.subunit-label.UA,
.subunit-label.DZ,
.subunit-label.FO,
.subunit-label.GE,
.subunit-label.GL,
.subunit-label.BY,
.subunit-label.MD,
.subunit-label.TN,
.subunit-label.SY,
.subunit-label.IQ,
.subunit-label.NO
{
    display: none;
}



.bubble {
    fill-opacity: .6;
    stroke: #fff;
    stroke-width: 1px;
    fill: darkorange;
}

.bubbletext {
    background-color: #cccccc;
}

.bubble circle:hover {
    stroke: #240d4d;
    stroke-width: 2px;
}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}

.row {
    max-width: 80%!important;
}